
.navbar-brand{
    font-weight:bolder;
    color: rgb(10, 10, 10);
    font-size: 2.5cap;
    margin-left: 5%;
}

.nav-link{
    font-weight:500;
    
    color: rgb(5, 5, 5);

}
.nav-link:hover{
    color: white;
}
.navbar{
    background-color: rgb(196, 148, 241);
    height: 100px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    height: 90px;
    gap: 18rem;
    display: flex;
    text-transform: uppercase;
    font-size: 2cap;
}

.mainpart{
    background-color: rgb(196, 148, 241);
}
